Optimal portfolio rebalancing work notebook:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
from matplotlib import cycler


Web-app required components:

import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import plotly.graph_objs as go
import plotly.express as px
import dash
import dash_html_components as html
import dash_core_components as dcc
from dash.dependencies import Input, Output
